<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <header>
            <nav>
                <button class="btn-no-style">
                    <a class="nav-list" href="/">Home</a>
                </button>


                {{#if loggedIn}}
                <button class="btn-no-style">
                    <a class="nav-list" href="/dashboard"> Dashboard</a>
                </button>

                {{else}}
                {{/if}}

                {{#if loggedIn}}

                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <button class="btn-no-style">
                    <a class="nav-list" href="/login">Login</a>
                </button>
                {{/if}}

            </nav>
        </header>
        <section class="hero">
            <div class="container">
                <h1>
                    <a class="page-title" href="/">Tech It Up</a>
                </h1>
            </div>
            {{#if loggedIn}}
            {{else}}
            <div class="container">
                <div class="get-started">
                    <a class="get-started-words" href="/login">Sign up today!</a>
                </div>
            </div>
            {{/if}}
        </section>
    </div>

    <main>
        {{{ body }}}
    </main>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <footer>
        Technology is the pathway forward
    </footer>




</body>

</html>