<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a class="page-title" href="/">Tech Blog</a>
            </h1>
            <nav>
                <ol>
                    <li>
                        <a class="nav-list" href="/dashboard">Home</a>
                    </li>
                    <li>
                        {{#if loggedIn}}
                        <a class="nav-list" href="/"> Dashboard</a>
                        {{else}}
                        {{/if}}
                    </li>
                    {{#if loggedIn}}
                    <li>
                        <button id="logout" class="nav-list">Logout</button>
                        {{else}}
                    </li>
                    <li>
                        <a class="nav-list" href="/login">Login/Sign-up</a>
                    </li>
                    {{/if}}
                </ol>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>

        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}
        <footer>
            Tech is the future!
        </footer>
    </div>



</body>

</html>