<div class="page-header">
    <h1>
        Dashboard
    </h1>
</div>

<section class="center">
    <div>
        <h2>Create New Post</h2>
    </div>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input class="input-padding" type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-content">Content</label>
            <input class="input-padding" type="text" id="text" name="post-content" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>


    {{#if posts.length}}
    <section >
        <div class="page-header left">
            <h2>
                Your Posts
            </h2>
        </div>
        <ol class="center">
            {{#each posts as |post|}}
            <li>
                {{> post-info post}}
                <a class="btn" href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
                <div class="extra-padding"></div>
            </li>
            {{/each}}
        </ol>
    </section>
    {{/if}}

    <script src="/javascript/add-post.js"></script>
</section>