<div class="page-header">
    <h1>
        Single Post
    </h1>
</div>

<article class="post">
    {{> post-info post }}

    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea class="input-padding" name="comment-body"></textarea>
        </div>

        <div>
            <button class="btn" type="submit">Add Comment</button>
        </div>
    </form>
    {{/if}}

    <div class="page-header left">
        <h2>
            Comments
        </h2>
    </div>
    {{> comments post.comments}}

    {{#if loggedIn}}
    <script src="/javascript/comment.js"></script>
    {{/if}}
</article>