* {
    box-sizing: border-box;
   
}

:root {
    --light-color: white;
    --dark-blue-color: #0a2455; 
    --yellow-color: #8a8984; 
    --dark-gray-color: #24241d;
}
body, html {
    height: 100%;
    background-color: var(--light-color);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    color: var(--dark-gray-color);
}

header {
    background-color: var(--dark-blue-color);
    color: white;
    margin: 0;
    padding: 10px;
}
a {
    text-decoration: none;
    color: var(--light-color);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;   
}

.text-area, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid var(--yellow-color);
}
.page-title {
   font-size: 5rem; 
   padding: 10px;
   letter-spacing: 7px;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--dark-blue-color);
    border: 0;
    padding: 1%;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px; 
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background-color: var(--yellow-color);
    color: var(--dark-gray-color);
}
.nav-list:hover {
    text-decoration: underline;
    background-color: var(--dark-blue-color);
    color: var(--yellow-color);
}

.nav-list {
    text-transform: uppercase;
    letter-spacing: 1px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--yellow-color);
    font-weight: 700;
    /* font-size: 100%;  */
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
    
  }



 .post-list-homepage {
     margin: 0px;
     padding: 0px;
 } 

 footer {
    border-top: 5px solid var(--yellow-color);
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    background-color: var(--dark-blue-color);
    color: white;
  }


